<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="General" type="OutWit.Common.Settings.Sections.SettingsConfigurationSection, OutWit.Common.Settings" />
	</configSections>
	<General>
		<Settings>
			<Item key="JobsFolder" value="C:\OutWit\Jobs" type="Folder"/>
		</Settings>
	</General>
</configuration>