<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="General" type="OutWit.Common.Settings.Sections.SettingsConfigurationSection, OutWit.Common.Settings" />
		<section name="UILanguage" type="OutWit.Common.Settings.Sections.LanguageConfigurationSection, OutWit.Common.Settings" />
	</configSections>
	<UILanguage>
		<Language key="CurrentLanguage" value="en-US" />
		<AvailableLanguages>
			<Language key="English" value="en-US" />
			<Language key="Russian" value="ru-RU" />
		</AvailableLanguages>
	</UILanguage>
	<General>
		<Settings>
			<Item key="ModuleFolder" value="@Modules" type="String" hidden="True" />
			<Item key="CurrentLanguage" value="English" type="Language" />
			<Item key="UsePcSpeaker" value="True" type="Boolean" />
			<Item key="IsNavigationBarFixed" value="True" type="Boolean" />
			<Item key="ShowSplashScreen" value="False" type="Boolean" />
			<Item key="HideWhileLoading" value="True" type="Boolean" />
			<Item key="TestEnum" value="Option1" type="Enum" tag="OutWit.Common.Settings.Tests.Utils.TestEnum, OutWit.Common.Settings.Tests" />
		</Settings>
	</General>
</configuration>