<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="General" type="OutWit.Common.Settings.Sections.SettingsConfigurationSection, OutWit.Common.Settings" />
		<section name="AvailableLanguages" type="OutWit.Common.Settings.Sections.SettingsConfigurationSection, OutWit.Common.Settings" />
	</configSections>
	<AvailableLanguages>
		<Settings>
			<Item key="English" value="en" type="Language" hidden="True"/>
			<Item key="Spanish" value="es" type="Language" hidden="True"/>
			<Item key="Russian" value="ru" type="Language" hidden="True"/>
		</Settings>
	</AvailableLanguages>
	<General>
		<Settings>
			<Item key="ModuleFolder" value="@Modules" type="String" hidden="True" />
			<Item key="ShowSplashScreen" value="True" type="Boolean" hidden="True" />
			<Item key="SnackBarMessageDuration" value="00:00:02" type="TimeSpan" hidden="True" />
			<Item key="ShowMaximized" value="True" type="Boolean" hidden="True" />
			<Item key="IsNavigationBarFixed" value="True" type="Boolean" hidden="True" />
			<Item key="CurrentCulture" value="en" type="Language" hidden="True" />
			<Item key="CurrentTheme" value="Light" type="String" hidden="True" />
			<Item key="LogMinimumLevel" value="Warning" type="Enum" tag="Serilog.Events.LogEventLevel, Serilog"  hidden="True"/>
		</Settings>
	</General>
</configuration>